<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Brawler' rel='stylesheet' type='text/css'>
    
    <title>Daily Minor Planet</title>
</head>
<body>

<div id="dmp-wrapper">
    <div id="newspaperContainer">
        <section id="modern">
            <div class="header">
                <img src="/images/title.png">
                <div class="subHeaderline">
                    <div class="est"></div>
                    <div class="tagline">The nerve center of asteroid detection in our Solar System</div>
                </div>

            </div>
            <div class="bodyContainer">
                <div class="diagram"></div>
                <div class="contents">
                    <div class="dates">
                        <div class="day">23</div>
                        <div class="monthYear"><span class="month">July</span>&nbsp;<span class="year">2016</span></div>
                    </div>
                    <div class="heroline">NEW NEAR EARTH ASTEROID FLYBY!</div>
                    <div class="mobile-diagram">
                      <img src="https://ci4.googleusercontent.com/proxy/bClxPSAnt62a3DlMRQVPW_A5xBURw3e0qaLUHat4DGJCdRRU1dMlTmScvoROV2KriQ4fvPfWd3kDk2JjunOo2WZGdxCXWpJa0tV65HI=s0-d-e1-ft#http://images.spaceref.com/news/2012/oo2319_946-710.jpg" alt="asteroid image"/>
                    </div>
                    <div class="flybyTitle">New Earth Asteroid 2015 QH3 was found by the Catalina Sky Survey of Tucson, Arizona, on August 20, 2015</div>
                    <div class="flybyContents">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id.</div>
                    <div class="storyTitle">Hella narwhal Cosby sweater McSweeney's, salvia</div>
                    <div class="storyContents">Aliquam erat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectus mattis justo, vel mollis eros neque quis augue. Sed lobortis ultrices lacus, a placerat metus rutrum sit amet. Aenean ut suscipit justo.</div>
                </div>
            </div>
        </section>

        <div>
          You may read the <a href="http://www.minorplanetcenter.net/dmp">online version of Daily Minor Planet newspaper</a>
        </div>

        <div>
          You can also un-subscribe Daily Minor Planet email version <a href="http://www.minorplanetcenter.net/editions/unsubscribe?email=user@company.com">here</a>
        </div>
    </div>
</div>

</body>
</html>