<!DOCTYPE html>
<html>
      <head>
            <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
          </head>
      <body>
            <h1>Welcome to Daily Minor Planet, Raymond</h1>
            <p>
              Thank you for your interest in Daily Minor Planet.
              A daily newspaper will be delievered to you at: yuhua.xie@gmail.com<br>
            </p>
            <p>
              To verify your subscription email, please just follow this link: <%= @url %>.
            </p>
            <p>Thanks for joining and have a great day!</p>
          </body>
</html>
