<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="description">
	<meta name="keywords" content="keywords">

    <!-- Latest compiled and minified CSS -->
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    -->
	<link rel="stylesheet" type="text/css" href="/css/dmp_style.css" />
    <link rel="stylesheet" href="/css/rrssb.min.css" />

	<title>Editor View - Daily Minor Planet</title>
</head>
<body>
<form>
    Scheduled Publication: <input type="text" id="publish_date" placeholder="publish date"/> <br/>
    Heroline: <input type="text" id="heroline" /> <br/> 
    Flyby Title: <input type="text" id="flybytitle" /> <br/>
    Flyby Content: <textarea type="textarea" id="flybycontent" rows="4" cols="50"></textarea> <br/>
    News Title: <input type="text" id="newstitle" /> <br/>
    News Content: <textarea type="textarea" id="newscontent" rows="4" cols="50"></textarea> <br/>

    <input type="button" id="save" value="Save" /> <br/>
    <input type="button" id="preview" value="Preview" /> <br/>
    <input type="button" id="publish" value="Publish" /> <br/>


    <ul id="sourcelist">
        
    </ul>

</form>
</body>
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--
<script src="/js/jquery-latest.js"></script>
-->
<script type="text/javascript">
var draftForm = ( function() {
    var s;

    function populateForm(edition){
        // today's edition
        // console.log( "populate form: " + edition.title );
        var today = new Date();
        debugger;
        console.log( today );


        s.heroLine.val( edition.title );
        s.flybyTile.val( edition.flyby.title );
        s.flybyContent.val( edition.flyby.content );
        s.newsTitle.val( edition.news_story.title );
        s.newsContent.val( edition.news_story.content );
    }

    function populateDraft() {
        $.ajax({
            type: 'GET',
            url: "http://localhost:3000/editions/25",
            contentType: "application/json: charset=UTF-8",
            success: function(res, status, error) {
                console.log( "success ",  res );
                populateForm(res);
            },
            error: function(res, status, error) {
                console.log( "error: ", error );
            }
        });
    }

    function previewDraft(e) {
        e.preventDefault();
        console.log( "preview draft");
    }

    function publishDraft(e) {
        e.preventDefault();
        console.log( "publish draft");
        var publishFlag = {"publish": true};

        $.ajax({
            type: 'PUT',
            url: "http://localhost:3000/editions/25/publish",
            data: publishFlag,
            contentType: "application/json: charset=UTF-8",
            success: function(res, status, error) {
                console.log( "success ",  res );
            },
            error: function(res, status, error) {
                console.log( "error: ", error );
            }
        });
    }

    function getFormData() {
        var draft = {};
        var flyby = {};
        var news = {};

        flyby.title = s.flybyTile[0].value;
        flyby.content = s.flybyContent[0].value;
        news.title = s.newsTitle[0].value;
        news.content = s.newsContent[0].value;

        draft.flyby = flyby;
        draft.news_story = news;
        
        debugger;

        return draft;
    }


    function validateForm() {

    }

    function saveDraft(e) {
        e.preventDefault();
        var draft = getFormData();
        validateForm();

        $.ajax({
            type: 'PUT',
            url: "http://localhost:3000/editions/25",
            data: draft,
            contentType: "application/json: charset=UTF-8",
            success: function(res, status, error) {
                console.log( res );
            },
            error: function(res, status, error) {
                console.log( error );
            }
        });
    }

    return {
        settings: {
            saveAction: $('#save'),
            previewAction: $('#preview'),
            publishAction: $('#publish'),
            heroLine: $('#heroline'),
            flybyTile: $('#flybytitle'),
            flybyContent: $('#flybycontent'),
            newsTitle: $('#newstitle'),
            newsContent: $('#newscontent'),
            sourceList: $('sourcelist'),
        },

        init: function() {
            s = this.settings;
            this.bindActions();
            populateDraft();
        },

        bindActions: function() {
            s.saveAction.on("click", function(e) {
                saveDraft(e);
            });

            s.previewAction.on("click", function(e) {
                previewDraft(e);
            });
        },

    };             
})();


$(document).ready(function() {
    //get data from backend
    /*
    d3.json("/editions/25.json", function(error, edition) {
        console.log( edition );
        populateForm(edition);
    });
    */
    draftForm.init();

});

</script>

