<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Daily Minor Planet editor page">
    <meta name="keywords" content="editor, administrator">

    <!-- Latest compiled and minified CSS -->
    <link media="all" rel="stylesheet" href="/css/all-ae-full.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.customized.min.css">
    <!-- Upload Image module -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/jasny-bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/dmp_style.css" />

    <title>Editor View - Daily Minor Planet</title>
</head>
<body>
<style>
</style>
<!-- Preview Modal -->
<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:90%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Preview</h4>
      </div>
      <div class="modal-body">
        <!-- Preview  -->
        <div id="dmp-wrapper">
            <div id="newspaperContainer">
                <section id="modern">
                    <div class="header">
                        <img src="/images/title.png">
                        <div class="subHeaderline">
                            <div class="est">Est. 1947</div>
                            <div class="tagline">The nerve center of asteroid detection in our Solar System</div>
                            <div class="shares"><span class="numberShares">0</span> Shares +</div>
                        </div>
                    </div>
                    <div class="bodyContainer">
                        <div class="diagram"></div>
                        <div class="contents">
                            <div class="dates">
                                <div class="day"></div>
                                <div class="monthYear"><span class="month"></span>&nbsp;<span class="year"></span></div>
                            </div>
                            <div class="heroline"></div>
                            <div class="mobile-diagram"></div>
                            <div class="flybyTitle"></div>
                            <div class="flybyContents"></div>
                            <div class="storyTitle"></div>
                            <div class="storyContents"></div>
                        </div>
                    </div>
                </section>
                <section id="classic" class="hide">
                    <div class="header">
                        <img src="/images/title.png">
                        <div class="tagline">The nerve center of asteroid detection in our Solar System</div>
                        <div class="subHeaderline">
                            <div class="est">Est. 1947</div>
                            <div class="dates">
                                <span class="dayofweek"></span>,
                                <span class="month"></span>
                                <span class="day"></span>,
                                <span class="year"></span>
                            </div>
                            <div class="shares"><span class="numberShares">0</span> Shares +</div>
                        </div>
                    </div>
                    <div class="bodyContainer" style="min-height:300px">
                        <div class="heroline"></div>
                        <div class="bodyContentsContainer">
                            <div class="flybyContainer">
                                <div class="flybyTitle"></div>
                                <div class="flybyContents"></div>
                            </div>
                            <div class="diagram"></div>
                            <div class="storyContainer">
                                <div class="storyTitle"></div>
                                <div class="storyContents"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>        <!-- End of Preview  -->
      </div>
    </div>
  </div>
</div>

<div id="dmp-editor-wrapper">
    <div id="newspaperContainer">
        <a href="<%= archives_path %>" style="color:#0C69E6;line-height:34px;"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>&nbsp;Go to Archive</a>
        <div class="editorPageBtn btn-group" role="group">
            <button type="button" class="btn btn-default btn-md preview" data-toggle="modal" data-target="#preview" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;Preview</button>
            <button type="button" class="btn btn-default btn-md save" title="Save and publish as scheduled" ><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;Save</button>
            <div class="btn-group">
              <button type="button" class="btn btn-primary publish"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;Publish Now</button>
            <!-- DEFER FOR NEXT PATCH
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" class="unpublish"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;Skip to publish this edition</a></li>
              </ul>
            -->
            </div>
        </div>
        <section id="editorContainer">
            <div class="header">
                <img src="/images/title.png">
                <div class="subHeaderline" style="font-size:28px">DRAFT</div>
            </div>
            <div id="formNav">
                <div id="basicSetting"><a href="#bodyBasic">1. Basic Settings</a></div>
                <div id="flybyNews"><a href="#bodyFlyby">2. Flyby News</a></div>
                <div id="newsStory"><a href="#bodyNews">3. News Story</a></div>
            </div>
            <div class="bodyContainer">
                <div class="editSection" id="bodyBasic">
                    <h4>1. Basic Settings</h4>
                    <div class="eachLine">
                        <div class="editLabel">Publish Schedule</div>
                        <div class="inputValue">  <input type="date" name="publishDay" id="publishDay" value="" style="width:150px"><input type="time" name="publishTime" id="publishTime" value="" style="width:150px"> &nbsp; GMT </div>
                    </div>
                    <div class="eachLine">
                        <div class="editLabel">Newspaper Title</div>
                        <div class="inputValue"> <input type="text" id="tagline" /></div>
                        <input type="hidden" id="entityId"/>
                    </div>
                    <div class="eachLine">
                        <div class="editLabel">Default Theme</div>
                        <div class="inputValue"><input type="radio" name="themeType" value="modern" checked> Modern <input type="radio" name="themeType" value="classic" style="margin-left:10px"> Classic</div>
                    </div>
                </div>
                <div class="editSection" id="bodyFlyby">
                    <h4>2. Flyby News</h4>
                    <div class="eachLine">
                        <div class="editLabel">Asteroid Designation Number</div>
                        <div class="inputValue"> <input type="text" id="designation" style="width:70%">&nbsp;&nbsp;<button id="dmp-flyby-fetch" type="button" class="btn btn-default btn-sm">Fetch</button></div>
                    </div>

                    <div class="eachLine">
                        <div class="editLabel">Flyby Title</div>
                        <div class="inputValue"> <textarea rows="2" id="flybyTitle"></textarea></div>
                    </div>
                    <div class="eachLine">
                        <div class="editLabel">Flyby Content</div>
                        <div class="inputValue"> <textarea rows="6" id="flybyContent"></textarea></div>
                    </div>
                    <!--
                    <div class="eachLine">
                        <div class="editLabel">Flyby Image</div>
                        <div class="inputValue">
                            <input type="text" id="flybyImageUrl" value="http://"/>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                              <div class="fileinput-new thumbnail" style="width: 100%; height: 300px;">
                                   <img src="http://placehold.it/1196x532">
                              </div>
                              <div class="fileinput-preview fileinput-exists thumbnail"></div>
                              <div>
                                <span class="btn btn-default btn-file"><span class="fileinput-new">Upload image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                              </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
                <div class="editSection" id="bodyNews">
                    <h4>3. News Story</h4>
                    <!-- DEFER FOR NEXT PATCH
                    <div class="eachLine">
                        <div class="editLabel">News Source</div>
                        <div class="inputValue" id="sourceList">
                            <input type="radio" name="newsSource" value="source1" checked> source1
                            <input type="radio" name="newsSource" value="source2" style="margin-left:10px"> source2
                            <input type="radio" name="newsSource" value="source3" style="margin-left:10px"> source3
                            <input type="radio" name="newsSource" value="source4" style="margin-left:10px"> source4
                        </div>
                    </div>
                    -->
                    <div class="eachLine">
                        <div class="editLabel">News URL</div>
                        <div class="inputValue"><input type="text" id="newsUrl" value="http://"/> </div>
                    </div>
                    <div class="eachLine">
                        <div class="editLabel">News Title</div>
                        <div class="inputValue"> <textarea rows="2" id="newsTitle">Hella narwhal Cosby sweater McSweeney's, salvia</textarea></div>
                    </div>
                    <div class="eachLine">
                        <div class="editLabel">News Content</div>
                        <div class="inputValue"> <textarea rows="4" id="newsContent">Aliquam erat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectus mattis justo, vel mollis eros neque quis augue. Sed lobortis ultrices lacus, a placerat metus rutrum sit amet. Aenean ut suscipit justo.</textarea></div>
                    </div>

                </div>
            </div>
            <a href="#" class="back-to-top"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
        </section>
        <div class="editorPageBtn btn-group" role="group">
            <button type="button" class="btn btn-default btn-md preview" data-toggle="modal" data-target="#preview"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;Preview</button>
            <button type="button" class="btn btn-default btn-md save" title="Save and publish as scheduled" ><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;Save</button>
            <div class="btn-group">
              <button type="button" class="btn btn-primary publish"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;Publish Now</button>
              <!-- <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" class="unpublish"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;Skip to publish this edition</a></li>
              </ul> -->
            </div>
        </div>

    </div>
</div>
</body>
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!--  Handle newspaper draft-->
<script src="/js/draft-form.js"></script>

<script type="text/javascript">
//dropdown menu
$('.dropdown-toggle').dropdown();

//scroll to top
var amountScrolled = 300;

$(window).scroll(function() {
    if ( $(window).scrollTop() > amountScrolled ) {
        $('a.back-to-top').fadeIn('slow');
    } else {
        $('a.back-to-top').fadeOut('slow');
    }
});
$('a.back-to-top').click(function() {
    $('html, body').animate({
        scrollTop: 0
    }, 700);
    return false;
});



// populate draft form
$(document).ready(function() {
    dailyMinorPlanetDraftForm.init();
});

</script>
