      </div>
    </div>
  </div>

  <!-- footer -->
  <footer id="footer">
    <div class="holder">
      <!-- footer nav -->
      <nav class="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/iau/mpc.html">For Observers</a></li>
          <li><a href="/blog">For the Public</a></li>
          <!--<li><a href="/media">For the Media</a></li>-->
        </ul>
      </nav>
            <img src="/images/MPC_logo_circular.png" width="60" height="60" alt="Minor Planet Center Logo">
      <!-- copy -->
      <div class="copy">©2015 The Minor Planet Center. All Rights Reserved.</div> 
    </div>
  </footer>

<script type="text/javascript">
  <!-- $(document).ready(function() { -->
  $(window).load(function() {
    $("table").tablesorter();
  }); 
</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script type="text/javascript">
//<![CDATA[
var _tag=new WebTrends();
_tag.dcsGetId();
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
_tag.dcsCustom=function(){
// Add custom parameters here.
//_tag.DCSext.param_name=param_value;
}
_tag.dcsCollect();
//]]>
</script>
<noscript>
<div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="//logs1.smithsonian.museum/dcsa7yzrmbdzpxzrosrn4tyep_5i1d/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.minorplanetcenter.net"/></div>
</noscript>
</body>
