<body>
  <!-- wrapper -->
  <div id="wrapper">
    <div class="w1">
      <!-- header -->
      <header id="header">
        <div class="holder">
          <!-- logo -->
          <h1 class="logo"><a href="/">The International Astronomical Union Minor Planet Center</a></h1>
          <div class="area">
            <!-- top-nav -->
            <nav class="top-nav">
              MIRROR SITE
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </nav>
            <!-- search-form -->
            <div class="form-holder">
              <!-- This commented code opens a new page for the search. -->
              <!--<form class="search-form" method="get" action="http://www.google.com/search" target="_blank">-->
              <form class="search-form" method="get" action="http://www.google.com/search">
                <fieldset>
                  <!--<label for="search">Search</label>-->
                  <input type="hidden" name="sitesearch" value="minorplanetcenter.net">
                  <input type="text" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" id="search" name="q" value="Search MPC">
                </fieldset>
              </form>
            </div>
            <div class="social-bar">
              <a href="https://twitter.com/MinorPlanetCtr"><span class="social twitter">L</span></a>
              <a href="https://www.facebook.com/MinorPlanetCenter"><span class="social facebook">F</span></a>
              <a href="https://plus.google.com/103523519128767953332/posts"><span class="social gplus">G</span></a>
              <a href="https://www.youtube.com/channel/UCtALMOQHuBxh5XMsYNiDhMg"><span class="social youtube">X</span></a>
              <a href="/iau/rss/mpc_feeds.html"><span class="social rss">R</span></a>
            </div>
          </div>
        </div>
        <nav class="nav-holder">
          <!-- main navigation -->
          <ul id="nav">
            <li>
              <a href="/iau/mpc.html"><span>OBSERVERS</span></a>
              <ul>
                <li><a href="/iau/MPEph/MPEph.html">Ephemeris Service</a></li>
                <li><a href="/mpec/RecentMPECs.html">MPECs</a></li>
                <li><a href="/iau/NEO/toconfirm_tabular.html">NEO Confirmation</a></li>
                <li><a href="/iau/Ephemerides/EphemOrbEls.html" class="nested">Orbital Elements</a>
                  <ul>
                    <li><a href="/iau/MPCORB.html">MPCORB</a></li>
                    <li><a href="/iau/ECS/MPCAT/MPCAT.html">MPCAT</a></li>
                    <li><a href="/iau/ECS/MPCUPDATE/MPCUPDATE.html">MPCUPDATE</a></li>
                    <li><a href="/iau/Ephemerides/SoftwareEls.html">Orbital Elements for Software</a></li>
                  </ul>                
                </li>
                <li><a href="/iau/services/MPCServices.html">Publications Overview</a></li>
                <li><a href="/iau/ECS/MPCArchive/MPCArchive_TBL.html">Publications Archive</a></li>              
                <li><a href="/iau/NEO/TheNEOPage.html" class="nested">NEO Services</a>
                  <ul>
                    <li><a href="/iau/NEO/toconfirm_tabular.html">Confirmation</a></li>
                    <li><a href="/iau/NEO/PossNEO.html">Ratings</a></li>
                    <li><a href="/cgi-bin/neaobs.cgi">Observation Planning Aid</a></li>
                    <li><a href="/cgi-bin/checkneo.cgi">NEOChecker</a></li>
                    <li><a href="/cgi-bin/checkneocmt.cgi">NEOCMTChecker</a></li>
                    <li><a href="/NEOCPblog/">NEOCP Blog</a></li>
                    <li><a href="/neocp_obs">NEOCP Recent Observations</a></li>
                  </ul>
                </li>
                <li><a href="/iau/services/WebCSAccess.html" class="nested">Other Observer Services</a>
                  <ul>
                    <li><a href="/iau/NatSats/NaturalSatellites.html">Natural Satellite Ephemerides</a></li>
                    <li><a href="/iau/MPEph/NewObjEphems.html">New Object Ephemerides</a></li>
                    <li><a href="/cgi-bin/checkmp.cgi">MPChecker</a></li>
                    <li><a href="/cgi-bin/checkcmt.cgi">CMTChecker</a></li>
                    <li><a href="/iau/SpaceJunk/SpaceJunk.html">Distant Artificial Satellites</a></li>
                    <li><a href="/iau/lists/Customize.html">Observing List Customizer</a></li>
                  </ul>
                </li>
                <li><a href="/db_search">Orbits/Observations Database</a></li>
                <li><a href='/light_curve2/light_curve.php'>Light Curve Database</a></li>
                <li><a href="/iau/ECS/MPCAT-OBS/MPCAT-OBS.html">MPCAT-OBS</a></li>
                <li><a href="/iau/SkyCoverage.html">Sky Coverage</a></li>
                <li><a href="/iau/MPC_Documentation.html" class="nested">Documentation</a>
                  <ul>
                    <li><a href="/iau/info/TechInfo.html">MPC Submission Info</a></li>
                    <li><a href="/iau/info/Astrometry.html">Astrometry Guide</a></li>
                    <li><a href="/iau/WhatsNew.html">What's New</a></li>
                  </ul>                
                </li>
                <li><a href="/iau/lists/Lists.html" class="nested">Lists and Plots</a>
                  <ul>
                    <li><a href="/iau/lists/MPLists.html">Minor Planets</a></li>
                      <!--<ul>
                        <li><a href="/iau/lists/t_atens.html">Atens</a></li>
                        <li><a href="/iau/lists/t_apollos.html">Apollos</a></li>
                        <li><a href="/iau/lists/t_amors.html">Amors</a></li>
                        <li><a href="/iau/lists/t_centaurs.html">Centaurs and Scattered Disk Objects</a></li>
                        <li><a href="/iau/lists/t_tnos.html">Transneptunian Objects</a></li>
                        <li><a href="/iau/lists/t_others.html">Other Unusual Objects</a></li>
                        <li><a href="/iau/lists/t_dangerous.html">Potentially Hazardous Asteroids</a></li>
                      </ul>-->
                    <li><a href="/iau/lists/CometLists.html">Comets</a></li>
                      <!--<ul>
                        <li><a href="/iau/lists/LastCometObs.html">Date of Last Observation</a></li>
                        <li><a href="/iau/lists/LastYear.html">Designations from the Past Year</a></li>
                        <li><a href="http://www.icq.eps.harvard.edu/CometMags.html">Comet Magnitude Estimates</a></li>
                        <li><a href="/iau/lists/ClosestComets.html">Closest Approaches</a></li>
                        <li><a href="/iau/lists/PeriodicCodes.html">Periodic Comets</a></li>
                      </ul>-->
                    <li><a href="/iau/Animations/Animations.html">Animations</a></li>
                  </ul>                
                </li>
                <li><a href="/iau/MPCStatus.html">MPC Status</a></li>
                <!--<li><%= link_to 'Summary', :controller => 'mpc', :action => 'summary' %></li>-->
                <li><a href='/mpc/summary'>Summary of Latest Data</a></li>
              </ul>
            </li>
            <li><a href="/blog"><span>Public</span></a>
              <ul>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/asteroid-explorers">Asteroid Explorers</a></li>
                <li><a href="/dmp">Daily Minor Planet</a></li>
              </ul>
            </li>
            <li><a href="/IAWN/"><span>IAWN</span></a>
              <ul>
                <li><a href="/IAWN/2014_cambridge/findings.html">First Meeting of the Steering Committee</a></li>
                <li><a href="/IAWN/first_communication_workshop/">First Communications Workshop</a></li>
                <li><a href="/IAWN/2014_tucson/">Second Meeting of the Steering Committee</a></li>
                <li><a href="/IAWN/statement_of_intent.html" class="nested">IAWN Statement of Intent</a>
                  <ul>
                    <li><a href="/IAWN/USA_contributions.pdf">USA Contributions</a></li>
                  </ul>                
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>

      <!-- main -->
      <div id="main">

