<!DOCTYPE html>
<html>
<head>
  <title>IAU Minor Planet Center</title>
  <%= render :partial => "pages/dependencies" %>
</head>
  <%= render :partial => "pages/header" %>
  <%= yield %>
  <%= render :partial => "pages/footer" %>
</html>
